header {
  width: 100%;
  height: 70px;
  background-color: #f00;
  box-shadow: 0 5px 15px -2px #000;
}

.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-half {
  width: 50%;
}

.column-fourth {
  width: 25%;
  padding: 0 65px;
  margin: 40px 0;
}

.logo {
  height: 65px;
}

.align-center {
  align-items: center;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.nav-button {
  border: none;
  background-color: #f00;
  color: white;
  margin: 10px;
}

.background {
  justify-content: center;
}

.background-logo {
  position: fixed;
  z-index: -1;
  width: 800px;
  opacity: 60%;
  top: 14rem;
}

.result-list {
  width: 100%;
}

.none {
  width: 100%;
  justify-content: center;
}

.search {
  margin-top: 4rem;
}

.search-bar {
  width: 17rem;
  border: solid 1px #000;
  border-radius: 3px;
}

.search-button {
  margin-left: 10px;
  border: solid 1px #f00;
  color: #f00;
  border-radius: 3px;
  background-color: white;
}

.search-button:active {
  background-color: #dfd8d8;
}

.card {
  height: 250px;
}

.hidden {
  display: none;
}

.return {
  width: 78.5%;
  margin-top: 3rem;
  margin-right: 4rem;
}

.return-button {
  height: 30px;
  width: 60px;
  margin-left: 10px;
  border: solid 1px #f00;
  color: #f00;
  border-radius: 3px;
  background-color: white;
}

.return-button:active {
  background-color: #dfd8d8;
}

.detail {
  width: 100%;
  margin-top: 2rem;
}

.column-full {
  width: 100%;
}

.column-third {
  width: 33%;
  padding-left: 22px;
}

.column-two-thirds {
  width: 66%;
}

.detail-img {
  height: 545px;
}

.top-box {
  border: solid 3px #f00;
  width: 500px;
  background-color: white;
  margin: 0 45px;
  text-align: center;
  box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.62);
}

.bottom-box {
  border: solid 3px #f00;
  width: 500px;
  height: 180px;
  background-color: white;
  margin: 115px 45px 0;
  text-align: center;
  box-shadow: 0 6px 10px 4px rgba(0, 0, 0, 0.62);
}

a {
  text-decoration: none;
  color: black;
  margin: 12px 25px;
  font-size: small;
}

.prices {
  height: 124px;
}

.add-button {
  width: 100px;
  padding: 0;
  border: none;
  background-color: rgb(255, 254, 254, 0);
}

#modal {
  border: solid 3px #f00;
  width: 185px;
}

.new-deck {
  font-size: larger;
  border: none;
  background-color: rgb(255, 254, 254, 0);
  padding-right: 25px;
}

.marg-l-25 {
  margin-left: 25px;
}

dialog::backdrop {
  background: rgb(0 0 0 / 80%);
}

.deck {
  height: 250px;
}

.height100 {
  height: 100%;
}

.card-name {
  margin-bottom: 5px;
  font-size: large;
}

.deck-select {
  border: solid 1px #ced4da;
  border-radius: 5px;
}

.return-to-deck-button {
  margin-right: 3rem;
  margin-top: 2.5rem;
  color: #f00;
  background-color: white;
  border: solid 1px #f00;
  border-radius: 5px;
}

.return-to-deck-button:active {
  background-color: #dfd8d8;
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
  .container {
    max-width: 100vw;
    height: 100vh;
  }

  .background-logo {
    width: 100vw;
  }

  .column-fourth {
    width: 100%;
    padding: 0 170.5px;
  }

  .column-half {
    width: 100%;
  }

  .eye {
    display: none;
  }

  .detail-img {
    height: 315px;
  }

  .column-third {
    width: 50%;
    height: 315px;
    padding-left: 10px;
  }

  .column-two-thirds {
    width: 50%;
  }

  .top-box {
    width: 230px;
    margin: 0;
  }

  .return {
    width: 100%;
    margin-right: 0.75rem;
  }

  .return-button {
    margin-right: 10px;
  }

  .bottom-box {
    width: 400px;
    position: relative;
    margin: 115px -80px;
    right: 8rem;
  }

  a {
    margin: 15px 25px;
  }

  .prices {
    width: 50%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 950px) {
  .detail-img {
    height: 400px;
  }

  .top-box {
    margin: 0 60px;
  }

  .return {
    width: 100%;
    margin-right: 3rem;
  }

  .return-button {
    margin-right: 4.5rem;
  }

  .bottom-box {
    margin: 20px 60px;
    height: 130px;
  }
}
